@mixin button ($color) {
	@include filter-gradient ($color,darken($color,15%));
	@include background-image (linear-gradient($color,darken($color,15%)));
	@include text_color ($color);
	border: 1px solid darken($color,3%);
	cursor:pointer;
	-webkit-text-stroke: 0px !important;

	&:hover {
		@include filter-gradient (darken($color,15%),$color);
		@include background-image (linear-gradient(darken($color,15%),$color));
	}

}