/* COLORS */
$purple: #8684A9;
$orange: #E7A26B;
$green: #0C714C;
$yellow: #ebb012;
$blue: #75B6B8;
$red: #B43C3C; //#B0182B;

/* NEUTRALS */
$neutral1: #F8F8F8;
$neutral2: darken($neutral1, 2%);	
$neutral3: darken($neutral2, 2%);	
$neutral4: darken($neutral3, 2%);	
$neutral5: darken($neutral4, 2%);	
$neutral6: darken($neutral5, 2%);	

/* BASE COLORS */
$text: #4c4c4c;
$light_text: #DCD8CD;
$link: #15704D;


.desaturate {
	color: desaturate($link,100%) !important;
}
